html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #222;
  color: #fff;
}

.main-nav > ul,
.social-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav > ul > li,
.social-nav > ul > li {
  display: inline-block;
}
